<app-spinner [spinnerstatus] = "spinnerstatus"></app-spinner>
<form [formGroup]="requestForm" >
    <div class="card m-3"  >
    <h3 class="card-header bold">Add Roll  Numbers</h3>
    <div class="card-body">
            <div class="form-row">
                <div class="form-group col-12">
                    <label>Verification Agency : </label><label style="color: blue;">{{refobj.name}}</label><br>
                   <!-- <label>Reference : </label><label style="color: blue;">{{requesterRef}}</label><br>
                    <label>Request Mode : </label><label style="color: blue;">{{reqMode}}</label><br>
                    <label>Request Received date : </label><label style="color: blue;">{{reqDate}}</label><br>
                    -->
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-4 ">
                    <label>Roll Number(s)</label>
                </div>
                <div class="form-group col-8 ">
                    <input type="text" formControlName="rollno" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.rollno.errors }" />
                    <div *ngIf="submitted && f.rollno.errors" class="invalid-feedback">
                        <div *ngIf="f.rollno.errors.required">Roll Number is required</div>
                        <div *ngIf="f.rollno.errors.minlength">Roll Number minimum length 6 is required</div>
                        <div *ngIf="f.rollno.errors.pattern">Only numbers are allowed</div>
                    </div>
                </div>
            </div>
            <div class="text-center form-row">
                <div class="form-group col-6 ">
                    <button   type="button" class="btn btn-primary mr-1 " (click)="addRollNo()">Save</button>
                </div>
                <div class="form-group col-4 ">
                    <button type="button" class="btn btn-primary mr-1"  (click) ="onBack()" >Back</button>
                </div>    
            </div>
            <div class="form-row">  <!--*ngIf="rollNumListGrid.length>0"
                <div  class="container border" *ngIf="rollNumListGrid.length>0"> -->
                   <ag-grid-angular  
                    #agGrid style="width:100%; height: 200px;"
                    class="ag-theme-alpine"
                    [rowData]="rollNumListGrid"
                    [columnDefs]="columnDefs"
                   
                    [defaultColDef]="defaultColDef"
                    rowSelection="single"
                    (gridReady) ="OnInfoGridReady($event)"
                  
                   >
                   </ag-grid-angular>    
                <!--</div>-->
            </div>   
            
    </div> 
</div>


</form>


