
<app-spinner [spinnerstatus] = "spinnerstatus"></app-spinner>
<div class="card m-3" #requesterMaster >
    <h3 class="card-header bold">Requester Details </h3>
    <div class="card-body">
            <div class="form-row">
                    <div  class="container border" *ngIf="refreshReqGrid">
                     <label><b>Requesters List</b></label> &nbsp; &nbsp; &nbsp;
                     <button type="button" class="btn btn-success mr-2  btn-sm"  (click) ="onAddRequester()" >Add new Requester</button> &nbsp; &nbsp;
                     <button type="button" class="btn btn-success mr-2  btn-sm"  (click) ="onApproveAgency()" >Approve Requester</button> 
                       <ag-grid-angular  
                        #agGrid style="width:100%; height: 200px;"
                        class="ag-theme-alpine"
                        [rowData]="requesterListGrid"
                        [columnDefs]="columnDefs"
                        (rowSelected)="onRowSelected($event)"
                        [defaultColDef]="defaultColDef"
                        rowSelection="single"
                        (gridReady) ="OnGridReady($event)"
                        [scr]
                       >
                       </ag-grid-angular>    
                    </div>
           </div>
           <div class="form-row">
                        <div  class="container border" *ngIf="showReqRefs">
                         <label><b>Reference List of Requester :</b></label>&nbsp; &nbsp;<label  style="color:blue"><b>{{selReqName}}</b></label><br>
                         <button type="button" class="btn btn-success mr-2  btn-sm"  (click) ="onAddReqRef()" >Add Request Reference</button> &nbsp; &nbsp;
                         <button type="button" class="btn btn-success mr-2  btn-sm" *ngIf="showAddRollbtn" (click) ="onAddRollNumbers()" >Add Roll Number(s)</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                         <button type="button" class="btn btn-success mr-2  btn-sm"  (click) ="onRefBack()" >Back</button>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                         <button type="button" class="btn btn-success mr-2  btn-sm" >View Processed Requests</button>
                           <ag-grid-angular  
                            #agRefGrid style="width:100%; height: 200px;"
                            class="ag-theme-alpine"
                            [rowData]="requesterRefListGrid"
                            [columnDefs]="columnRefDefs"
                            (rowSelected)="onRefRowSelected($event)"
                            [defaultColDef]="defaultRefColDef"
                            rowSelection="single"
                            (gridReady) ="OnRefGridReady($event)"
                            [scr]
                           >
                           </ag-grid-angular>    
                        
                        </div>
          </div>
    </div> 
</div>
<!--<div id="comp-render" *ngIf="showNewReqComp">
        <app-add-roll-number></app-add-roll-number>
</div> -->
<app-message></app-message>

