<div class="container-fluid card">

<div class="row">
    <div class="col-md-2 col-lg-1 col-xs-12 col-sm-12">
      <img class="headerLogo text-center" src="assets/deiLogo.jpg" alt="DEI-Logo">
    </div>
    <div class="col-md-10 col-lg-11 col-xs-12 col-sm-12">
      <h1 class="text-center color-darkBlue fs-IB">DEI Examination System</h1>
      <h2 class="text-center color-lightBlue">An Open Source Initiative of the Ministry of Human Resource Development</h2>
      <h3 class="text-center">(Developed under the National Mission on Education through Information and Communication Technology)</h3>
    </div>
  </div>
  </div>

